{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/get_favorite.css' %}">
    </head>
    <body>
        <div class="container">
        {% if favorite %}
            {% for f in favorite %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">{{ f.name }}</div>
                    <div class="col-md-4">{{ f.temperature|floatformat:"0" }}{{ stuff.degree }}</div>
                </div>
            {% endfor %}
        </div>
            <div class="myradio">
<div class="myradio">
    <form action="." method="get">
    <label for="celsius"><input id="celsius" name="degree" type="radio"  value="Celsius" required /> Celsius</label>
            <label for="fahrenheit"><input id="fahrenheit" name="degree" type="radio" value="Fahrenheit" required /> Fahrenheit</label>
                <input type="submit" value="Update" class="btn btn-default"/>
            </form>
            </div>
        {% else %}
            <p>No favorite</p>
        {% endif %}
    </body>
</html>