{% load staticfiles %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="{% static 'js/ajax_requests.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<title>Sunlight Weather Widget Flat Responsive Widget Template :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Sunlight Weather Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/get_favorite.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href='//fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
</head>
    <body>
<div class="my_radio">
    <form action="." method="get">
    <label for="celsius">
        <input id="celsius" name="degree" type="radio"  value="Celsius"  /> Celsius</label>
            <label for="fahrenheit">
                <input id="fahrenheit" name="degree" type="radio" value="Fahrenheit"  /> Fahrenheit</label>
                <input type="submit" value="Update" class="btn btn-default"/>
            </form>
            </div>
        <div class="container">
        {% if favorite_list %}
            <h1>Your city weather stats</h1>
            <div class="row">
        <div id="main_container" class="col-sm-offset-4 col-sm-4">
				<div id="before_first_main" class="form-group">
					<div class="input-group">
						<input type="text" id="add_to_db" class="form-control"  placeholder="City name">
						<span class="input-group-addon danger" ><button id="add_button" class="add_button" > Add
		 </button></span>
					</div>
				</div>
            {% for f in favorite_list %}
                 <div class="main" id={{ f.id }}>
                      <div class="main-grid1">
                          <button id="delete_from_db" class="close">&#10006;</button>
                        <div class="main-grid1-pos">
                            <span> <img src={{ f.image }} alt="" class="img-responsive" /> </span>
                        </div>
                            <h2>{{ f.temperature|floatformat:"0" }}<sup class="degree">{{ stuff.degree }}</sup><span></span></h2>
                        <p>{{f.name}}</p>
                        <div class="main-grid1-grids">
                            <div class="main-grid1-grid-left">
                            </div>
                            <div class="main-grid1-grid-right">
                                <p><span></span>{{f.last_updated}}</p>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    </div>
                    <div class="main-grid2">
                        <div class="main-grid2-left">
                            <p>Humidity <span>{{f.humidity|floatformat:"0"}}</span></p>
                        </div>
                        <div class="main-grid2-left">
                            <p>Pressure <span>{{f.pressure|floatformat:"0"}}</span></p>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="footer">

                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>No favorite</p>
        {% endif %}
    </body>
</html>