{% load staticfiles %}
<html>
<body>
<style>
      #map {
            margin-left: auto;
            margin-right: auto;
            height: 240px;
            width: 15%;
       }
    </style>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: {{ geocoding.lat }}, lng: {{ geocoding.lng }}};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeJsN1m7f1gmun0G3NZedinAaAJLBwZkE&callback=initMap">
    </script>


</body>
</html>
