<div class="main" id={{ favorite.id }}>
      <div class="main-grid1">
          <button id="delete_from_db" class="close">&#10006;</button>
        <div class="main-grid1-pos">
            <span> <img src={{ favorite.image }} alt="" class="img-responsive" /> </span>
        </div>
            <h2>{{ favorite.temperature|floatformat:"0" }}<sup class="degree">{{ stuff.degree }}</sup><span></span></h2>
        <p>{{favorite.name}}</p>
        <div class="main-grid1-grids">
            <div class="main-grid1-grid-left">
            </div>
            <div class="main-grid1-grid-right">
                <p><span></span>{{favorite.last_updated}}</p>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="main-grid2">
        <div class="main-grid2-left">
            <p>Humidity <span>{{favorite.humidity|floatformat:"0"}}</span></p>
        </div>
        <div class="main-grid2-left">
            <p>Pressure <span>{{favorite.pressure|floatformat:"0"}}</span></p>
        </div>
        <div class="clear"> </div>
    </div>
    <div class="footer">
    </div>
</div>